# Tratamento de Dados (Relatório de Análise V)

---
## Importanto a biblioteca

In [2]:
import pandas as pd

---
## Lendo o arquivo de dados

In [46]:
df = pd.read_csv('aluguel_residencial.csv', sep=';', header= 0)
df.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [11]:
df.isnull().head(10)

    Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0  False   False    False  False   False  False  False       False  False
1  False   False    False  False   False  False  False        True   True
2  False   False    False  False   False  False  False       False  False
3  False   False    False  False   False  False  False       False   True
4  False   False    False  False   False  False  False        True   True
5  False   False    False  False   False  False  False       False  False
6  False   False    False  False   False  False  False        True   True
7  False   False    False  False   False  False  False        True   True
8  False   False    False  False   False  False  False        True   True
9  False   False    False  False   False  False  False       False  False

In [10]:
df.notnull().head(10)

   Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio   IPTU
0  True    True     True   True    True  True   True        True   True
1  True    True     True   True    True  True   True       False  False
2  True    True     True   True    True  True   True        True   True
3  True    True     True   True    True  True   True        True  False
4  True    True     True   True    True  True   True       False  False
5  True    True     True   True    True  True   True        True   True
6  True    True     True   True    True  True   True       False  False
7  True    True     True   True    True  True   True       False  False
8  True    True     True   True    True  True   True       False  False
9  True    True     True   True    True  True   True        True   True

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [14]:
df['Valor'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Valor, Length: 22580, dtype: bool

In [15]:
df[df['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
58,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1492,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1683,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2012,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2034,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
4941,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8568,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
8947,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9149,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

In [47]:
a = df.shape[0]
df.dropna(subset=['Valor'], inplace= True)
b = df.shape[0]
print(a - b)

9

In [18]:
df[df['Condominio'].isnull()].shape[0]

1813

In [25]:
selecao = (df['Tipo'] == 'Apartamento') & (df['Condominio'].isnull())
selecao

0        False
1        False
2        False
3        False
4         True
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Length: 22571, dtype: bool

In [31]:
df[selecao]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
83,Apartamento,Praça Seca,2,0,0,80,1000.0,NaN,NaN
117,Apartamento,Rocha Miranda,2,1,0,50,1100.0,NaN,NaN
133,Apartamento,Barra da Tijuca,1,1,1,65,2350.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22328,Apartamento,Copacabana,3,0,0,130,4600.0,NaN,NaN
22356,Apartamento,Guadalupe,1,0,0,40,550.0,NaN,NaN
22373,Apartamento,Bonsucesso,1,0,0,60,1000.0,NaN,NaN
22403,Apartamento,Flamengo,2,0,0,59,3500.0,NaN,NaN
22474,Apartamento,Cascadura,3,0,1,70,1200.0,NaN,NaN

In [48]:
a = df.shape[0]
df = df[~selecao]
b = df.shape[0]
print(a - b)
df

745

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [43]:
falsos = df[df['Condominio'].isnull()].shape[0]
falsos

1068

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21826 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        21826 non-null  object
 1   Bairro      21826 non-null  object
 2   Quartos     21826 non-null  int64
 3   Vagas       21826 non-null  int64
 4   Suites      21826 non-null  int64
 5   Area        21826 non-null  int64
 6   Valor       21826 non-null  float64
 7   Condominio  20758 non-null  float64
 8   IPTU        15685 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [50]:
df.fillna({'Condominio' : 0, 'IPTU' : 0}, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21826 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        21826 non-null  object
 1   Bairro      21826 non-null  object
 2   Quartos     21826 non-null  int64
 3   Vagas       21826 non-null  int64
 4   Suites      21826 non-null  int64
 5   Area        21826 non-null  int64
 6   Valor       21826 non-null  float64
 7   Condominio  21826 non-null  float64
 8   IPTU        21826 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [51]:
df.to_csv('aluguel_residencial.csv', sep= ';', index= False)

In [53]:
new_df = pd.read_csv('aluguel_residencial.csv', sep= ';', header= 0)
new_df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0

In [54]:
imoveis = pd.DataFrame([['Apartamento', None, 970, 68], 
                        ['Apartamento', 2000, 878, 112], 
                        ['Casa', 5000, None, 500], 
                        ['Apartamento', None, 1010, 170], 
                        ['Apartamento', 1500, 850, None], 
                        ['Casa', None, None, None], 
                        ['Apartamento', 2000, 878, None], 
                        ['Apartamento', 1550, None, 228], 
                        ['Apartamento', 2500, 880, 195]], 
                        columns = ['Tipo', 'Valor', 'Condominio', 'IPTU'])

In [55]:
imoveis

          Tipo   Valor  Condominio   IPTU
0  Apartamento     NaN       970.0   68.0
1  Apartamento  2000.0       878.0  112.0
2         Casa  5000.0         NaN  500.0
3  Apartamento     NaN      1010.0  170.0
4  Apartamento  1500.0       850.0    NaN
5         Casa     NaN         NaN    NaN
6  Apartamento  2000.0       878.0    NaN
7  Apartamento  1550.0         NaN  228.0
8  Apartamento  2500.0       880.0  195.0

In [56]:
imoveis.dropna(subset = ['Valor'], inplace = True)
imoveis

          Tipo   Valor  Condominio   IPTU
1  Apartamento  2000.0       878.0  112.0
2         Casa  5000.0         NaN  500.0
4  Apartamento  1500.0       850.0    NaN
6  Apartamento  2000.0       878.0    NaN
7  Apartamento  1550.0         NaN  228.0
8  Apartamento  2500.0       880.0  195.0

In [57]:
selecao = (imoveis['Tipo'] == 'Apartamento') & (imoveis['Condominio'].isnull())
imoveis = imoveis[~selecao]
imoveis

          Tipo   Valor  Condominio   IPTU
1  Apartamento  2000.0       878.0  112.0
2         Casa  5000.0         NaN  500.0
4  Apartamento  1500.0       850.0    NaN
6  Apartamento  2000.0       878.0    NaN
8  Apartamento  2500.0       880.0  195.0

In [58]:
imoveis = imoveis.fillna({'Condominio': 0, 'IPTU': 0})
imoveis

          Tipo   Valor  Condominio   IPTU
1  Apartamento  2000.0       878.0  112.0
2         Casa  5000.0         0.0  500.0
4  Apartamento  1500.0       850.0    0.0
6  Apartamento  2000.0       878.0    0.0
8  Apartamento  2500.0       880.0  195.0

In [60]:
imoveis.index = [str(i) for i in range(0, len(imoveis), 1)]
imoveis

          Tipo   Valor  Condominio   IPTU
0  Apartamento  2000.0       878.0  112.0
1         Casa  5000.0         0.0  500.0
2  Apartamento  1500.0       850.0    0.0
3  Apartamento  2000.0       878.0    0.0
4  Apartamento  2500.0       880.0  195.0